<div id="blog-pages">
  <header>
    <div class="container">
      <% if @tag %>
        <h1><%= "#" + @tag.upcase %></h1>
      <% else %>
      <h1>Writer's Block</h1>
      <% end %>
    </div>
  </header>

  <section id="blog-intro">
    <div class="container">
      <p id="quote">
        "Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live."
      </p>
      <p id="attr">- Martin Golding</p>
    </div>
  </section>

  <div id="article-list">
    <% @articles.each do |article| %>
      <section class="main-page-post">
        <div class="container">
          <div class="post-container">
            <p class="post-date"><%= format_time(article.created_at) %></p>
            <p class="post-title" data-no-turbolink><%= link_to article.title, article_path(article) %></p>
          </div>
        </div>
      </section>
  <% end %>
  </div>

  <aside id="tag-list">
    <h4>Top Tags</h4>
    <ul>
      <% most_tags = ActsAsTaggableOn::Tag.most_used(5) %>
      <% most_tags.each do |tag| %>
        <% if tag.taggings_count > 0 %>
            <li><a href="<%= articles_path(:tag => tag.name) %>"><%= "#" + tag.name %></a></li>
        <% end %>
      <% end %>
    </ul>
  </aside>



</div>


