<div class="container">
	<% if @articles.empty? == false %>
		<% @articles.each do |article| %>
			<p class="index-blog-date ruby"><%= format_time(article.created_at) %></p>
			<p class="index-blog-title"><%= link_to article.title, article_path(article.id) %></p><br>
		<% end %>
	<% end %>

	<% cts_blogs.each do |post| %>
		<p class="index-blog-date ruby"><%= post[2] %></p>
		<p class="index-blog-title"><a href="<%= post[1] %>" target="_blank"><%= post[0] %>(CTS)</a></p><br>
	<% end %>
</div>
