<div class="container">
  <p><%= link_to '< Back', root_path, class: 'back-link ruby' %></p>
	<h1><%= @article.title %></h1>
	<h4><%= format_time(@article.created_at) %></h4>
	<p><%= raw @article.text %></p>
  <p><%= link_to '< Back', root_path, class: 'back-link ruby' %></p>

  <%= render 'disqus' %>
</div>