<!DOCTYPE html>
<html lang="en">
<head>
  <title>
    <% if @article %>
      Sam Webb | <%= @article.title %>
    <% else %>
      Sam Webb
    <% end %>
  </title>
  <meta charset="utf-8">
  <% if @article %>
    <meta name="description" content="<%= @article.title %>">
  <% end %>
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/dark.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav">
    <img src="https://dl.dropboxusercontent.com/u/66359502/samwebbcom/images/static/logo_white.png" alt="logo" id="main-logo">
		<ul>
      <li>
        <% if current_page?('/') %>
          <%= link_to "Home", root_path, class: 'nav-item current' %>
        <% else %>
          <%= link_to "Home", root_path, class: 'nav-item' %>
        <% end %>
      </li>
			<li>
        <% if current_page?('/home/portfolio') %>
          <%= link_to "Portfolio", home_portfolio_path, class: 'nav-item current' %>
        <% else %>
          <%= link_to "Portfolio", home_portfolio_path, class: 'nav-item' %>
        <% end %>
      </li>
      <li>
        <% if controller.controller_name == "articles" %>
          <%= link_to "Blog", articles_path, class: 'nav-item current' %>
        <% else %>
          <%= link_to "Blog", articles_path, class: 'nav-item' %>
        <% end %>
      </li>
			<li>
        <%= mail_to "510samwebb@gmail.com", class: 'nav-item' do %>
          Contact
        <% end %>
      </li>
      <% if admin_signed_in? %>
        <li>
          <%= link_to 'New Article', new_article_path %>
        </li>
        <li>
          <%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
        </li>
      <% end %>
		</ul>
	</nav>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

