<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sam Webb</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag "//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/dark.min.css" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js' %>
  <%= javascript_include_tag 'https://dl.dropboxusercontent.com/u/66359502/samwebbcom/javascripts/snabbt.min.js' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <% if admin_signed_in? %>
    <div class="user-top-bar">
      <p class="ruby" style="font-weight: bold;"><%= current_admin.name %>:</p>
      <p><%= link_to "Home", root_path %></p>
      <p data-no-turbolinks><%= link_to 'New', new_article_path %></p>
      <p><%= link_to "Logout", destroy_admin_session_path, :method => :delete %>
    </div>
  <% end %>
	<nav class="nav">
		<ul>
			<li><%= link_to "@samthewebb", "https://twitter.com/SamTheWebb", class: 'nav-item', target: '_blank' %></li>
			<li><%= link_to "GitHub", "https://github.com/salexzee", class: 'nav-item', target: '_blank' %></li>
			<li><%= link_to "LinkedIn", "https://www.linkedin.com/in/sam-webb-42331698", class: 'nav-item', target: '_blank' %></li>
			<li><%= link_to "Email", 'mailto:510samwebb@gmail.com?subject=Hey%20Sam!', class: 'nav-item'%></li>
		</ul>
	</nav>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

