<!DOCTYPE html>
<html lang="en">
<head>
  <title>Samwebb</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Portfolio", pages_portfolio_path %></li>
			<li><%= link_to "Contact", pages_contact_path %></li>
		</ul>
	</nav>