<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sam Webb</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Portfolio", pages_portfolio_path %></li>
			<li><a href="https://twitter.com/SamTheWebb" class="header-icon"><span class="icon-twitter"></span></a></li>
			<li><a href="https://github.com/salexzee" class="header-icon"><span class="icon-github"></span></a></li>
		</ul>
	</nav>