<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sam Webb</title>
  <meta charset="utf-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="nav">
		<ul>
			<li><%= link_to "@samthewebb", "https://twitter.com/SamTheWebb", class: 'nav-item', target: '_blank' %></li>
			<li><%= link_to "Home", root_path, class: 'nav-item' %></li>
			<!-- <li><%= link_to "Projects", pages_projects_path, class: 'nav-item' %></li> -->
		</ul>
	</nav>
	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
